<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <title>Login page!!!</title>
    <style type="text/css">
        .block {
            width: 500px;
        }
    </style>
</head>
<body>
    <div th:if="${param.error}">
        <p>Неправильные номер телефона или пароль</p>
    </div>
    <div th:if="${param.logout}">
        <p>Вы вышли из системы</p>
    </div>

    <p>Страница входа</p>
    <form th:action="@{/login}" method="post">
        <input type='hidden' th:value='${_csrf.token}' th:name='${_csrf.parameterName}'/>
        <div><label> Номер телефона : <input type="text" name="username"/> </label></div>
        <div><label> Пароль: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Войти"/></div>
    </form>
    <form action="/registration">
        <input type="submit" value="Регистрация" />
    </form>
    <div class="block">
        <p>Добрый день!</p>
        <p>Упрощенное приложение позволяет авторизированному пользователю производить оплаты различных услуг
            без возможности пополнения своего счета, а также просматривать и фильтровать список совершенных оплат.</p>
    </div>
</body>
</html>